
# Ignore node_modules in the entire workspace
**/node_modules

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore the build folder
dist

# Ignore .env files
.env

# Ignore IDE specific files
.idea
.vscode
*.iml

# Ignore OS specific files
.DS_Store
Thumbs.db